<form class="boxed" >
  <input type="radio" id="paypal" name="method{{i}}" value="paypal ">
  <label for="paypal"><i class="fab fa-paypal fa-3x"></i></label>

  <input type="radio" id="visa" name="method{{i}}" value="visa" checked>
  <label for="visa"><i class="fab fa-cc-visa fa-3x"></i></label>

  <input type="radio" id="mastercard" name="method{{i}}" value="mastercard">
  <label for="mastercard"><i class="fab fa-cc-mastercard fa-3x"></i></label>

  <input type="radio" id="apple" name="method{{i}}" value="apple">
  <label for="apple"><i class="fab fa-apple-pay fa-3x"></i></label>
</form>
